.device
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    padding: 5px;
    width: 85%;
    align-self: center;
    margin: 2px;
    font-weight: 300;
    transition: 
        border 0.3s ease, 
        background-color 0.3s ease, 
        box-shadow 0.3s ease, 
        transform 0.3s ease;
}

.device:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Temprature device coloring*/
.device[data-type="0"]
{
    background-color: rgba(207, 76, 76, 0.2);
}

/* Humidity device coloring*/

.device[data-type="1"]
{
    background-color: rgba(21, 141, 141, 0.2);
}

.device[data-type="2"]
{
    background-color: rgba(0, 255, 0, 0.2);
}

/* Security device coloring*/

.device[data-type="3"]
{
    background-color: rgba(70, 100, 100, 0.2);
}

/* Control device coloring*/

.device[data-type="4"]
{
    background-color: rgba(196, 193, 11, 0.2);
}

.device[data-type="5"]
{
    background-color: rgba(240, 116, 0, 0.2);
}

.device-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 75%;
}

.device-type
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    align-items: center;
}

.device-data-state
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.device[data-type="0"] .device-state,
.device[data-type="1"] .device-state,
.device[data-type="2"] .device-state,
.device[data-type="5"] .device-state {
    display: none;
}

.device[data-type="0"] .device-data,
.device[data-type="1"] .device-data,
.device[data-type="2"] .device-data,
.device[data-type="3"] .device-data,
.device[data-type="4"] .device-data,
.device[data-type="5"] .device-data {
    font-weight: bold;
}

.device[data-type="0"] .control-device-btn,
.device[data-type="1"] .control-device-btn,
.device[data-type="2"] .control-device-btn,
.device[data-type="3"] .control-device-btn,
.device[data-type="5"] .control-device-btn {
    display: none;
}

.control-device-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    padding: 4px;
    font-size: 1.3rem;
}

/* Hover effect for the options icon */
.control-device-btn:hover {
    background-color: inherit;
    border-radius: 4px;
}

.tooltip {
    position: relative;
    display: flex;
  }

.device-metadata
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-metadata {
    visibility: hidden;
    width: 180px; /* Adjusted width for readability */
    background-color: rgba(0, 0, 0, 0.9);
    color: #f9f9f9;
    text-align: left;
    padding: 12px;
    border-radius: 8px;
    font-size: 0.9em;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.device-metadata::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
}

.tooltip:hover .device-metadata {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px); /* Floating effect */
    z-index: 1001;
}

.description-tooltip {
    margin-bottom: 10px;
    align-self: center;
    font-weight: bold;
}

.id-tooltip {
    margin-top: 10px;
}

.time-tooltip {
    margin-top: 10px;
}
