/* Right-aligned options icon */
.room-options {
    position: absolute;
    right: 8px;
    cursor: pointer;
    padding: 4px;
    color: #666;
    font-size: 1.2em;
}

/* Hover effect for the options icon */
.room-options:hover {
    background-color: #eaeaea;
    border-radius: 4px;
}

.room-dropdown-menu {
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0.5s ease;
    top: 100%;
    right: 0; /* Aligns dropdown with options icon */
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 0px 0;
    list-style-type: none;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    min-width: 140px;
    z-index: 1000;
}

.room-dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    max-height: 200px; /* Adjust based on the content */
}

.room-dropdown-menu li {
    padding: 10px 16px;
    font-size: 0.9em;
    cursor: pointer;
    color: #333;
}

.room-dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.room-dropdown-menu li + li {
    border-top: 1px solid #eee;
}

.sensor-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    font-size: 1.5rem;
}

/* Hover effect for the options icon */
.sensor-options:hover {
    background-color: inherit;
    border-radius: 4px;
}

.sensor-dropdown-menu {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 100%; /* Position below the sensor options icon */
    transition: visibility 0.2s ease, opacity 0.2s ease;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 8px 0;
    list-style-type: none;
    margin: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-width: 140px;
    z-index: 1000;
}

.sensor-dropdown-menu.show {
    visibility: visible;
    opacity: 1;
}

.sensor-dropdown-menu li {
    padding: 10px 16px;
    font-size: 0.9em;
    color: #333;
    cursor: pointer;
}

.sensor-dropdown-menu li:hover {
    background-color: #e6e6e6;
}

.sensor-dropdown-menu li + li {
    border-top: 1px solid #eee;
}

/* Right-aligned options icon */
.space-options {
    margin-left: auto;
    cursor: pointer;
    padding: 4px;
    color: black;
    font-size: 1.2em;
    z-index: 1004;
}

/* Hover effect for the options icon */
.space-options:hover {
    background-color: #eaeaea;
    border-radius: 4px;
}

.space-dropdown-menu {
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0.5s ease;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 0px 0;
    list-style-type: none;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    min-width: 140px;
    z-index: 1004;
}

.space-dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    max-height: 200px; /* Adjust based on the content */
}

.space-dropdown-menu li {
    padding: 10px 16px;
    font-size: 0.9em;
    cursor: pointer;
    color: #333;
}

.space-dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.space-dropdown-menu li + li {
    border-top: 1px solid #eee;
}