/* Center the signup form */
#signup-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f9f9f9;
}

#signup-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Adjusted width */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#username, #email, #password, #confirm-password {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 18px;
}

/* Button styling */
#signup-btn {
    background-color: #000;
    color: #f6f6f6;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

#signup-btn:hover {
    background-color: #333;
}

/* Message display */
#msg {
    font-size: 14px;
    color: #ff0000; /* Red for error messages */
    text-align: center;
    margin-top: 15px; /* Positioned below the button */
}

.back-to-login {
    text-align: center;
    margin-top: 20px;
}

.back-to-login a {
    color: #666666;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.back-to-login a:hover {
    color: #333333;
    text-decoration: underline;
}